
@font-face {

  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);

}

@font-face {

  font-family: "Titilliun";
  src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);

} 

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  font-family: 'Roboto', sans-serif;

}

header {

  background-color: black;

}

.container-grid {
  max-width: 1200px;
  margin: 0 auto;
}

.container {

  max-width: 1200px;
 
  
}

.header-flex {
  /* flex conteiner */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  height: 125px;
}

.logo {

  max-width: 416px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

 .logoImg {

   height: 120px;
   width: 140px;

 }

 .logotype {

   color: white;
   padding-left: 25px;
   font-size: 35px;
   
 }

 .menu {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
 }

 .menu-text {

  text-decoration: none;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  
 }

 .menu-text{

  cursor: pointer;
 }

 .menu-bars {
  display: none;
  width: 70px;
  height: 60px;

}


 
 .banner {
   background-image: url(../images/Background-banner.PNG);
   height: 600px;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;

    display: grid;
   grid-template-columns: 1fr 200px;
   grid-template-areas: Banner texto; 
   /* height: 629px;
   padding: 0 200px; */ 
  
 }

 .banner-info-box{
    grid-area: texto; 
   color: black;
   font-family: 'Roboto';
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-right: 400px

 }

 .banner .banner-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 500px;
  height: 250px; */
 }

 .info-title {
   font-weight: bolder;
   padding-top: 50px;
   font-size: 60px;
   text-shadow: 10px 30px 10px rgba(0, 0, 0, 0.256);
 }
 
 .subscribe {
   
  
   background-color: #7045cd;
   height: 70px;
   width: 250px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   text-transform: uppercase;
   color: white;
   
   

 }

 .info-link {
   text-decoration: none;
   color: white;
   font-family: 'Roboto';
 }

 .info-link:hover{
  color: #AAB0AE;
 }

 .subscribe:hover{

   cursor: pointer;
   color: white;
   background-color: #0b041b;

 }

 .patrocinio {

   background-color: #310C7E;
   padding-top: 10px;
   padding-bottom: 10px;
   /* height: 120px;
   display: flex;
   align-items: center;
   justify-content: center; */
   
 }

 .patrocinio-flex {
  display: flex;
    justify-content: space-between;
    align-items: center;

 }

 .sony {

   width: 270px;
   height: 57px;
   padding-right: 70px;

 }
 
 .nintendo {

   width: 270px;
   height: 57px;
   padding-right: 70px;

 }
 
 .playstation {

   width: 270px;
   height: 57px;
   padding-right: 70px;
 }
 
 .xbox {
   width: 220px;
   height: 100px;
   padding-right: 70px;

 }
 
 .products-Bg {

   
   background-image: linear-gradient(to bottom, black,#310C7E );
   padding: 30px 0;
  

 }

 .card {
  margin: 35px 10px 0 0;
  border-radius: 30px ;
  height: 184px;
  overflow: hidden;
 }

 .card-img {
  border-radius: 30px;
 }

 .card-title {
  font-size: 1.9rem;
  margin-top: 2rem;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.619)
 }
 
 .btn-price {
  
  background-color: #310C7E;
  border-radius: 40px;
  font-weight: bold;
  border: none;

  width: 80%;
  height: 20%;

  margin-top: 3.8rem;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: .2rem;
  box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.466);
 }

 .btn-price:hover {
  background-color: #6b35df;
 }

 /* Breackpoints */

 @media all and (max-width: 1920px) {
  .card-title {
    font-size: 1.3rem;
    margin-top: 2rem;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.619)
   }
   
   .btn-price {
    margin-top: 2.4rem;
    margin-left: 9%;
   }
 }

 @media all and (max-width: 991px){
  header .logo {
      width: 230px;
      margin-left: 15px;
  }
  
  

  
  /* navbar */
  header .menu {
      position: fixed;
      /* referência viewport */
      top: 0px;
      /* coordenadas de posicinoamento */
      left: -80%;
      z-index: 100; /* controle de camada */

      opacity: 0; /* invisível  */
      flex-direction: column;
      justify-content: center;
      align-items: stretch;

      width: 70%;
      height: 100%;

      padding: 20px 50px;
      background-image: linear-gradient(to bottom, black,#310C7E );
      border-radius: 0 0 0 90px;
      transition: left 0.4s, opacity 0.5s;
  }

  header .menu a {
      margin-bottom: 20px;
      padding: 20px;
      border-left: 3px dotted #AAB0AE;
      font-size: 1.4rem;
      color: #AAB0AE;
  }

  header .menu-bars {
      display: block;
      width: 60px;
      margin-right: 15px;
      color: white;
  }
  
  .mostraEscondeMenu {
      left: 0 !important;
      opacity: 1 !important; /* visível */
  }

  .patrocinio {
      display: none;
  }
}


/* SMARTPHONES celulares 0 - 767px */
@media all and (max-width: 767px) {
  
  .header-flex {
      height: 125px;
  }
  
  header .menu-bars {
      width: 45px;
  }

  header .logo {
      width: 80px;
  }

  .logoImg {
    width: 80px;
    height: 80px;
  }
  
  header .logotype {
    font-size:  25px;
  }
  header .menu a {
      margin-bottom: 10px;
      padding: 10px;
      border-left: 2px dotted #AAB0AE;
      font-size: 1rem;
  }

  .banner {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #8052e2, #310C7E);
  }

  .banner-info {
    margin-left: 200px;
    margin-top: -100px;
  }

  
  .card-title {
    font-size: 1.4rem;
    margin-top: 2rem;
    
   }
   
   .btn-price {
    
    margin-top: 43px;
    margin-left: 9%;
    letter-spacing: .1rem;
    
   }


}
