
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Titilliun";
  src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: black;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.logo {
  max-width: 416px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

 .logoImg {
   height: 120px;
   width: 140px;
 }

 .logotype {
   color: white;
   padding-left: 25px;
   font-size: 35px;
   
 }

 .menu a {
  text-decoration: none;
  color: white;
  padding: 40px;
  font-size: 17px;
  text-transform: uppercase;
  
 }

 .banner {
   background-image: linear-gradient(to right, #310C7E 20%, white);
   display: flex;
   height: 629px;
 }
 
 .images-banner {
   display: flex;
   flex-direction: column;

 }
 .mario {
   width: 532px;
   height: 360px;
   padding-top: 1px;
   padding-left: 130px;
   
 }

 .soldado {
   width: 529px;
   height: 426px;
   margin-left: 200px;
   
 }

 .DK {
   width: 229px;
   height: 266px;
   margin-left: -200px;
   margin-top: 20px;
   
 }

 .text-banner{
   font-family: 'Titilliun';
   margin-left: 200px;
   margin-top: -50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }

 .text-banner h2 {
  padding-top: 70px;
   font-size: 75px;
   text-shadow: 10px 30px 10px rgba(0, 0, 0, 0.256);
 }
 
 .subscribe {
   
   margin-top: 10px;
   background-color: #310C7E;
   height: 70px;
   width: 350px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   text-transform: uppercase;
   color: white;
   margin-bottom: 50px;
 }
 .link-sub {
   text-decoration: none;
   color: white;
   font-family: 'Roboto';
 }
 .subscribe:hover{
   cursor: pointer;
   color: white;
   background-color: #0b041b;
 }

 .patrocinio {
   background-color: #310C7E;
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   
 }


 .sony {
   width: 270px;
   height: 57px;
   padding-right: 70px;
 }
 
 .nintendo {
   width: 270px;
   height: 57px;
   padding-right: 70px;
 }
 
 .playstation {
   width: 270px;
   height: 57px;
   padding-right: 70px;
 }
 
 .xbox {
   width: 220px;
   height: 100px;
   padding-right: 70px;
 }
 
 .products-Bg {
   height: 2000px;
   background-image: linear-gradient(to bottom, black,#310C7E );
 }

 .card-product {
   height: 380px;
   width: 530px;
 }

